<div class="main-container">
  <h1>Boards of the World</h1>

  <div class="new-board">
    <h2>Create a New Board</h2>
    <%= form_for(@board) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.submit %>
    <% end %>
  </div>

  <div class="show-board">
    <h2>View All Boards</h2>
    <ul id='all_boards'>
      <% @boards.each do |board| %>

        <li>
          <%= link_to board.name, board_path(board)%>
        </li>
      <% end %>
    </ul>
  </div>

</div>
